:root {
    --bg-color: #0f0f0f;
    --accent: #E50914;
    --text: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    text-align: center;
}

header { padding: 40px 20px; }
.logo { color: var(--accent); font-weight: bold; font-size: 2rem; }
h1 { font-size: 1.4rem; font-weight: 300; margin-top: 10px; }

.row-title { 
    display: inline-block;
    font-size: 1.5rem; 
    border-left: 4px solid var(--accent); 
    padding-left: 15px;
    margin: 30px 0 15px 0;
}

.netflix-row {
    display: flex;
    flex-wrap: nowrap; /* ¡ESTA ES LA CLAVE! Impide que las fotos se corten o bajen */
    overflow-x: auto;  /* Permite que deslices hacia la derecha */
    gap: 15px;
    padding: 20px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /* Esto asegura que el carrusel sea una línea recta infinita */
    width: 100%;
    box-sizing: border-box;
}

/* Ocultamos la barra gris fea, pero dejamos que se mueva */
.netflix-row::-webkit-scrollbar {
    display: none;
}
.movie-card-featured {
    min-width: 250px;
    max-width: 250px; 
    background: #1e1e1e;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.movie-card-featured:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.6);
    cursor: pointer;
}

.movie-card-featured img {
    width: 100% !important;
    height: 350px !important; 
    object-fit: cover !important; 
    display: block !important;
}

.card-info { 
    padding: 15px; 
    background: #1e1e1e; 
    text-align: left;
}

.card-info h3 { font-size: 1rem; margin: 0 0 8px 0; color: var(--accent); }
.card-info p { font-size: 0.85rem; color: #ccc; line-height: 1.4; margin: 0; }

.meta {
    color: #46d369 !important;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px !important;
}

footer {
    padding: 60px 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #222;
    background-color: var(--bg-color);
}

.footer-brand {
    color: var(--accent);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-copy {
    color: #666;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

.footer-dedication {
    color: #444;
    font-size: 0.8rem;
    margin-top: 15px;
    font-style: italic;
}
